<html>
<head>
	<title>Home | Demo Page_Nguyen Quang Duong</title>
</head>
<body>
	<% provide(:title, 'Home') %>

	<title><%= yield(:title) %></title>

	<div class="centre hero-unit">
		<h1>Welcome to Duongs's Demo Page</h1>
		
		<h2>
			This is the home page for Demo_app<br>
			Nguyen Quang Duong
			
		</h2>
	</div>
	
</body>
</html>